/*
**쪽지(msg) css
*/



/*
*
*공통
*
*/
p {
	margin-left: 20px;
}

h5 {
	position: absolute;
	top: 42px;
	right: 150px;
}

.msg_modal {
	margin-top: 50px;
	margin-left: 34%;
}

.btn_size {
	width: 110.4px;	
}

.btn_position {
	margin-bottom: 10px;
	margin-left: 15px;
}

.content_position {
	margin-left: 20px;
}

.byte_position {
	margin-left: 350px;
}

input[name="ck"] {
	display: none;
}

.btn_trashing {
	position: absolute;
	top: 42px;
	right: 55px;
	width: 33px;
	border-radius: 8px;
	border: none;
	background-color: #A4A4A4;
	opacity: 0.5;
	cursor: pointer;
}

.btn_trashing:hover {
	opacity: 1;
}

.btn_back {
	position: absolute;
	top: 42px;
	right: 95px;
	width: 33px;
	border-radius: 8px;
	border: 1px solid #fff;
	background-color: #fff;
	cursor: pointer;
}

.btn_back:hover {
	border: 1px solid #000;
}



/*
*
*받은 쪽지(Receive)_목록
*
*/
.head_receive { 
	font-weight: bold;
	font-size: 5.0rem;
	color: #eb9316;
	text-align: left;
	margin-top: -10px;
	margin-left: 20px;
	display:inline-block;
}

.sender_bar_r {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #F7D358;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
	
}

.title_bar_r {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #F7D358;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.sender_receive {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #F3E2A9;
	border-radius: 20px;
	display: table-cell;
}

.sender_receive:hover {
	background-color: #F7D358;
}

.title_receive {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #F3E2A9;
	border-radius: 20px;
	display: table-cell;
}

.title_receive:hover {
	background-color: #F7D358;
}

input[name="ck"] + label[id="ck_receive"] {
	display: table-cell;
	width: 23px;
	border-radius: 20px;
	border: 2px solid #F3E2A9;
	cursor: pointer;
}

input[name="ck"]:checked + label[id="ck_receive"] {
	border: 5px solid #fff;
	background-color: #F7D358;
}

.btn_unselect {
	position: absolute;
	top: 42px;
	right: 135px;
	width: 33px;
	border-radius: 8px;
	border: none;
	background-color: #eb9316;
	opacity: 0.5;
	cursor: pointer;
}

.btn_unselect:hover {
	opacity: 1;
}

.btn_keeping {
	position: absolute;
	top: 42px;
	right: 95px;
	width: 33px;
	border-radius: 8px;
	border: none;
	background-color: #265a88;
	opacity: 0.5;
	cursor: pointer;
}

.btn_keeping:hover {
	opacity: 1;
}



/*
*
*받은 쪽지(Receive)_내용확인
*
*/
.sender_r {
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F3E2A9; 
	color: #000;
	font-weight: bold;
	display: table-cell; 	
}

.sender_r:hover {
	border: 3px solid #F7D358;
	background-color: #fff;	
}

.blank {
	width: 127.5px;
	height: 30px;
	border: 3px solid #fff;
	display: table-cell; 	
}

.date_r {
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F3E2A9; 
	color: #000;
	font-weight: bold;
	display: table-cell; 	
}

.date_r:hover {
	border: 3px solid #F7D358;
	background-color: #fff;		
}

.content_r {
	width: 527.5px;
	height: 40%;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #F3E2A9; 
	color: #000;
	font-weight: bold;
	margin-top: 8px;	
}

.content_r:hover {
	border: 3px solid #F7D358;
	background-color: #fff;	
}



/*
*
*쪽지 보내기(Write)_작성
*
*/
.head_write { 
	font-weight: bold;
	font-size: 5.0rem;
	color: #c12e2a;
	text-align: left;
	margin-top: -10px;
	margin-left: 20px;
	display:inline-block;
}

.receiver_w {
	width: 180px;
	height: 30px;
	border: 3px solid #fff;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F5A9A9; 
	color: #000;
	font-weight: bold;
	display: table-cell; 	
}

.receiver_w:focus {
	outline: none;
	border: 3px solid #FA5858;
	background-color: #fff;	
}

.title_w {
	width: 347.5px;
	height: 30px;
	border: 3px solid #fff;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F5A9A9; 
	color: #000;
	font-weight: bold;
	display: table-cell; 	
}

.title_w:focus {
	outline: none;
	border: 3px solid #FA5858;
	background-color: #fff;	
}

.content_w {
	width: 527.5px;
	height: 40%;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #F5A9A9; 
	color: #000;
	font-weight: bold;
	margin-top: 8px;
}

.content_w:focus {
	outline: none;
	border: 3px solid #FA5858;
	background-color: #fff;	
}

.lenght_w {
	width: 100px;
	border: 1px solid #fff;
	text-align: right;
	outline: none;
}

.btn_sending {
	position: absolute;
	top: 42px;
	right: 42px;
	width: 33px;
	border-radius: 8px;
	border: none;
	background-color: #c12e2a;
	margin-left: 180px;
	opacity: 0.5;
	cursor: pointer;
}

.btn_sending:hover {
	opacity: 1;
}



/*
*
*보낸 쪽지(Sent)_목록
*
*/
.head_sent { 
	font-weight: bold;
	font-size: 5.0rem;
	color: #3e8f3e;
	text-align: left;
	margin-top: -10px;
	margin-left: 20px;
	display:inline-block;
}

.receiver_bar {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #31B404;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.title_bar_s {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #31B404;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.receiver_sent {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #BCF5A9;
	border-radius: 20px;
	display: table-cell;
}

.receiver_sent:hover {
	background-color: #31B404;
}

.title_sent {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #BCF5A9;
	border-radius: 20px;
	display: table-cell;
}

.title_sent:hover {
	background-color: #31B404;
}

input[name="ck"] + label[id="ck_sent"] {
	display: table-cell;
	width: 23px;
	border-radius: 20px;
	border: 2px solid #BCF5A9;
	cursor: pointer;
}

input[name="ck"]:checked + label[id="ck_sent"] {
	border: 5px solid #fff;
	background-color: #31B404;
}



/*
*
*쪽지 보관함(Keep)_목록
*
*/
.head_keep { 
	font-weight: bold;
	font-size: 5.0rem;
	color: #265a88;
	text-align: left;
	margin-top: -10px;
	margin-left: 20px;
	display:inline-block;
}

.sender_bar_k {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #2E9AFE;
	color: #000;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.title_bar_k {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #2E9AFE;
	color: #000;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.sender_keep {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #81BEF7;
	color: #000;
	border-radius: 20px;
	display: table-cell;
}

.sender_keep:hover {
	background-color: #2E9AFE;
}

.title_keep {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #81BEF7;
	color: #000;
	border-radius: 20px;
	display: table-cell;
}

.title_keep:hover {
	background-color: #2E9AFE;
}

input[name="ck"] + label[id="ck_keep"] {
	display: table-cell;
	width: 23px;
	border-radius: 20px;
	border: 2px solid #81BEF7;
	cursor: pointer;
}

input[name="ck"]:checked + label[id="ck_keep"] {
	border: 5px solid #fff;
	background-color: #2E9AFE;
}



/*
*
*휴지통(Trash)_목록
*
*/
.head_trash { 
	font-weight: bold;
	font-size: 5.0rem;
	color: #6E6E6E;
	text-align: left;
	margin-top: -10px;
	margin-left: 20px;
	display:inline-block;
}

.sender_bar_t {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #BDBDBD;
	color: #000;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.title_bar_t {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #BDBDBD;
	color: #000;
	border-radius: 20px;
	display: table-cell;
	font-weight: bold;
}

.sender_trash {
	width: 130px;
	height:25px;
	vertical-align: middle;
	text-align: center;
	background-color: #E6E6E6;
	color: #000;
	border-radius: 20px;
	display: table-cell;
}

.sender_trash:hover {
	background-color: #BDBDBD;
}

.title_trash {
    width: 380px;
    height:25px;
    vertical-align: middle;
	text-align: center;
	background-color: #E6E6E6;
	color: #000;
	border-radius: 20px;
	display: table-cell;
}

.title_trash:hover {
	background-color: #BDBDBD;
}

input[name="ck"] + label[id="ck_trash"] {
	display: table-cell;
	width: 23px;
	border-radius: 20px;
	border: 2px solid #E6E6E6;
	cursor: pointer;
}

input[name="ck"]:checked + label[id="ck_trash"] {
	border: 5px solid #fff;
	background-color: #BDBDBD;
}
